# Godot 4+ specific ignores
.godot/
encrypted.res
generated.key
generated.res
android/build/build/intermediates/intermediary_bundle/release/intermediary-bundle.aab
android/build/build/intermediates/merged_jni_libs/debug/out/godot-lib.template_debug.aar
android/build/build/intermediates/merged_jni_libs/release/out/godot-lib.template_release.aar
android/build/build/intermediates/merged_native_libs/debug/out/lib/arm64-v8a/libgodot_android.so
android/build/build/intermediates/merged_native_libs/debug/out/lib/armeabi-v7a/libgodot_android.so
android/build/build/intermediates/merged_native_libs/debug/out/lib/x86/libgodot_android.so
android/build/build/intermediates/merged_native_libs/debug/out/lib/x86_64/libgodot_android.so
android/build/build/intermediates/merged_native_libs/release/out/lib/arm64-v8a/libgodot_android.so
android/build/build/intermediates/merged_native_libs/release/out/lib/armeabi-v7a/libgodot_android.so
android/build/build/intermediates/merged_native_libs/release/out/lib/x86/libgodot_android.so
android/build/build/intermediates/merged_native_libs/release/out/lib/x86_64/libgodot_android.so
android/build/build/intermediates/module_bundle/release/base.zip
android/build/build/intermediates/stripped_native_libs/debug/out/lib/arm64-v8a/libgodot_android.so
android/build/build/intermediates/stripped_native_libs/debug/out/lib/armeabi-v7a/libgodot_android.so
android/build/build/intermediates/stripped_native_libs/debug/out/lib/x86/libgodot_android.so
android/build/build/intermediates/stripped_native_libs/debug/out/lib/x86_64/libgodot_android.so
android/build/build/intermediates/stripped_native_libs/release/out/lib/arm64-v8a/libgodot_android.so
android/build/build/intermediates/stripped_native_libs/release/out/lib/armeabi-v7a/libgodot_android.so
android/build/build/intermediates/stripped_native_libs/release/out/lib/x86/libgodot_android.so
android/build/build/intermediates/stripped_native_libs/release/out/lib/x86_64/libgodot_android.so
android/build/build/outputs/apk/debug/android_debug.apk
android/build/build/outputs/bundle/release/build-release.aab
android/build/libs/debug/godot-lib.template_debug.aar
android/build/libs/release/godot-lib.template_release.aar
